@import "./../../../../../styles.scss";

$header-font-size: calc(1.5rem + 1vh);
$font-bold: 800;

:host {
  font-family: "Poppins", sans-serif;
  user-select: none;
  transition: color 0.5s;
  color: var(--text-color);

  mat-spinner {
    margin: 0 auto;
    transform: translateY(50%);
  }
  aopa-header {
    margin: 0 auto;
    padding: 15px;
    mat-icon {
      font-size: 30px;
      cursor: pointer;
    }
    h1 {
      @include flex-center;
      font-size: 24px;
      font-weight: $font-bold;
    }
  }

  mat-icon {
    margin-bottom: 15px;
    font-size: 24px;

    &.error {
      position: relative;
      top: 3px;
      font-weight: $font-bold;
      color: red;
    }

    &.done {
      font-weight: $font-bold;
      color: rgb(0, 255, 0);
    }
  }

  form {
    color: var(--text-color);
    padding: 10px;
    margin-top: 25px;
    @include flex-center(column);

    h2 {
      margin-top: 35px;
    }

    .editing.container {
      height: 60px;
      width: 180px;
      position: relative;
      .editing {
        @include flex-center(column);

        .form-status {
          @include flex-center(row);

          h1 {
            font-size: 16px;
            margin: 0;
          }

          .valid {
            font-weight: 500;
          }
          mat-icon {
            margin-left: 5px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  aopa-edit-in-place {
    cursor: pointer;
  }

  .option {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;

    mat-slide-toggle {
      position: relative;
      margin-bottom: 15px;

      mat-icon {
        display: none;
        font-size: 16px;
        font-weight: $font-bold;

        &.sunny {
          color: #ebc635;
        }

        &.moon {
          color: #f1a62c;
        }

        &.close {
          top: 5px !important;
          color: red;
          transform: scale(1.3);
        }

        &.done {
          top: 5px !important;
          left: 7px !important;
          transform: scale(1.3);
          color: rgb(0, 162, 0);
        }

        &:nth-child(2) {
          display: none;
          position: absolute;
          top: 4px;
          left: 5px;
        }

        &:nth-child(3) {
          display: block;
          position: absolute;
          top: 4px;
          right: 5px;
        }
      }

      &.mat-checked mat-icon {
        &:nth-child(2) {
          display: block;
        }

        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 15px;

  button {
    margin-right: 10px;
  }
}

::ng-deep .mat-slide-toggle-bar {
  width: 52px !important;
  height: 25px !important;
  border-radius: 30px !important;
}

::ng-deep .mat-slide-toggle-thumb-container {
  top: 2.79px !important;
  left: 3px !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(27px, 0, 0) !important;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: $blue;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element,
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: $dark-blue;
}
