@import "mixins";
@import "variables";
@import "colors";

:host {
  color: var(--text-color);
  h1 {
    padding: 0 15px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .buttons-container {
    @include flex-center(column);
    padding: 0px 15px;
    button {
      margin-top: 15px;
      width: 100%;
    }
  }
}
