<div class="file-upload-container">
  <h1>Update profile picture</h1>
  <aopa-form-image-cropper
    [fileName]="fileName"
    [profileImageControl]="profileImage"
  >
  </aopa-form-image-cropper>
  <div class="buttons">
    <button
      class="default-button"
      matDialogClose="update"
      mat-raised-button
      (click)="sendFile()"
      [disabled]="!profileImage.valid"
    >
      Update image
    </button>
    <button mat-raised-button matDialogClose class="default-button">
      Cancel
    </button>
  </div>
</div>
