<div class="file-upload-container">
  <p>{{ fileName || "No file uploaded yet." }}</p>
  <div class="file-upload">
    <input
      type="file"
      (change)="onFileChange($event)"
      #fileUpload
      data-testid="input-file"
    />
    <button
      class="file"
      mat-mini-fab
      color="primary"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>

    <div class="buttons">
      <button
        matDialogClose="update"
        mat-raised-button
        (click)="sendFile()"
        [disabled]="!profileImage.valid"
      >
        Update image
      </button>
      <button mat-raised-button matDialogClose>Cancel</button>
    </div>
  </div>
</div>
