@import ".../../../../index.scss";

aopa-profile {
  @include flex-center;

  .profile-img {
    @include flex-center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
    margin-right: 20px;
    border: 3px solid $border;
    cursor: pointer;

    img {
      width: 100px;
      border-radius: 50%;
    }
  }

  .profile-name {
    @include flex-center;
    flex-direction: column;

    h1 {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 8px;
      color: $text-color-principal;
    }

    p {
      font-size: 16px;
      color: $text-color-secondary;
      font-weight: 500;
    }
  }
}
