<aopa-auth-card [displayNone]="true">
  <div class="content">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Login" class="login">
        <form [formGroup]="loginFormGroup">
          <aopa-form-input
            [labelName]="'Email'"
            [typeInput]="'email'"
            [placeholderInput]="'Ex. pat@example.com'"
            [control]="loginEmail"
            [errorStateMatcher]="matcher"
            [controlName]="'loginEmail'"
            autocomplete="off"
          ></aopa-form-input>

          <aopa-form-input
            [labelName]="'Password'"
            [typeInput]="'password'"
            [placeholderInput]="'Password'"
            [control]="loginPassword"
            [errorStateMatcher]="matcher"
            [controlName]="'loginPassword'"
            autocomplete="off"
          ></aopa-form-input>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginFormGroup.valid"
            (click)="login()"
          >
            Login
          </button>
        </form>
      </mat-tab>
      <mat-tab label="Register" class="register">
        <mat-stepper linear #stepper>
          <mat-step [stepControl]="firstRegisterFormGroup" [editable]="true">
            <form [formGroup]="firstRegisterFormGroup">
              <aopa-form-input
                [inputTestID]="'name-form-input'"
                [labelName]="'Name'"
                [typeInput]="'text'"
                [placeholderInput]="'Ex. Marcelo'"
                [control]="nameControl"
                [controlName]="'name'"
                [errorStateMatcher]="matcher"
              ></aopa-form-input>
              <aopa-form-input
                [inputTestID]="'occupation-form-input'"
                [labelName]="'Occupation'"
                [typeInput]="'text'"
                [placeholderInput]="'Ex. FrontEnd Developer'"
                [control]="occupationControl"
                [controlName]="'occupation'"
                [errorStateMatcher]="matcher"
              ></aopa-form-input>

              <button
                mat-raised-button
                matStepperNext
                [disabled]="!firstRegisterFormGroup.valid"
              >
                Next
              </button>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondRegisterFormGroup" [editable]="true">
            <form [formGroup]="secondRegisterFormGroup">
              <aopa-form-input
                [labelName]="'Email'"
                [typeInput]="'email'"
                [placeholderInput]="'Ex. pat@example.com'"
                [control]="registerEmail"
                [errorStateMatcher]="matcher"
                [controlName]="'registerEmail'"
                autocomplete="off"
              ></aopa-form-input>
              <aopa-form-input
                [labelName]="'Password'"
                [typeInput]="'password'"
                [placeholderInput]="'Password'"
                [control]="registerPassword"
                [errorStateMatcher]="matcher"
                [controlName]="'registerPassword'"
                autocomplete="off"
              ></aopa-form-input>

              <aopa-form-input
                [labelName]="'Confirm Password'"
                [typeInput]="'password'"
                [placeholderInput]="'Confirm Password'"
                [control]="confirmPassword"
                [errorStateMatcher]="matcher"
                [controlName]="'confirmPassword'"
                autocomplete="off"
              ></aopa-form-input>
              <button mat-raised-button matStepperPrevious class="back">
                Back
              </button>
              <button
                mat-raised-button
                matStepperNext
                [disabled]="!secondRegisterFormGroup.valid"
              >
                Next
              </button>
            </form>
          </mat-step>
          <mat-step>
            <div class="done">
              <p>
                Your registration is almost ready, now just add a profile
                picture!
              </p>
              <div class="file-upload-container">
                <p>{{fileName || "No file uploaded yet."}}</p>
                <div class="file-upload">
                  <input
                    type="file"
                    (change)="onFileChange($event)"
                    #fileUpload
                    data-testid="input-file"
                  />
                  <button
                    class="file"
                    mat-mini-fab
                    color="primary"
                    (click)="fileUpload.click()"
                  >
                    <mat-icon>attach_file</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button matStepperPrevious class="back">
                Back
              </button>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!profileImage.valid"
                (click)="register()"
              >
                Register
              </button>
            </div>
          </mat-step>
        </mat-stepper>
      </mat-tab>
    </mat-tab-group>
  </div>
</aopa-auth-card>
