@import "variables";
@import "colors";

:host {
  padding: 15px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background-color: var(--primary);
  font-family: $primary-font;
  height: 120px;
  border-radius: 0px 0px 25px 25px;
  max-width: 1920px;
}
