@import ".../../../../index.scss";

aopa-welcome-card {
  position: relative;
  display: flex;
  height: 400px;
  width: 550px;
  align-items: center;
  border-radius: 20px;

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: clip-path 0.6s, background-color 0.6s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--medium-blue);
      clip-path: circle(120px at center);
      transition: clip-path 0.6s, background-color 0.6s;
    }
  }

  &:hover .circle:before {
    clip-path: circle(440px at center);
    background: var(--marine-blue);
  }
  .logo {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: height 0.9s, left 0.9s, top 0.9s;
  }
  &:hover .logo {
    left: 72%;
    top: 60%;
    height: 520px;
  }
  .content {
    @include flex-center;
    position: relative;
    height: 100%;
    width: 50%;
    padding: 20px 20px 20px 40px;
    transition: hidden 0.8s;
    visibility: hidden;
    flex-direction: column;
    h1 {
      color: var(--white);
      font-size: 2rem;
      font-weight: bold;
      line-height: 1em;
      margin-bottom: 20px;
    }
    .description {
      color: var(--white);
      text-align: center;
    }
    button {
      margin-top: 20px;
      background-color: var(--white);
      color: var(--marine-blue);
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;
      width: 170px;

      &:hover {
        background-color: var(--medium-blue);
        color: var(--white);
      }
    }
  }
  &:hover .content {
    visibility: visible;
  }
}
@media (max-width: 600px) {
  aopa-welcome-card {
    border-radius: 0;
    background-color: var(--marine-blue);
    height: 100%;
    width: 100%;
    flex-direction: column;
    .circle {
      @include flex-center;
    }
    .logo {
      position: absolute;
      top: 54%;
    }
    .content {
      height: 70vh;
      width: 270px;
      margin: 0;
      position: relative;
      padding: 20px;
      width: 100vw;
      transition: visibility 0.5s;
      p {
        width: 200px;
      }
    }

    &:hover .logo {
      position: absolute;
      height: 40vh;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -0);
    }
  }
}
