@import ".../../../../index.scss";
@import ".../../../../scss/keyframes.scss";

aopa-home-page {
  @include flex-center;
  font-family: "Poppins", sans-serif;
  user-select: none;
  flex-direction: column;
  background-color: $background;
  header {
    height: 165px;
    width: 100%;
    animation: fade-in 0.5s;
    background-color: $primary-color;
    border-radius: 0 0 35px 35px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  }

  aopa-profile {
    animation: fade-in 0.5s;
  }
}
