@import "./../../../../../styles.scss";

:host {
  user-select: none;
  color: var(--text-color);

  aopa-header {
    margin: 0 auto;
    padding: 15px;
    mat-icon {
      font-size: 30px;
      cursor: pointer;
    }
    h1 {
      @include flex-center;
      font-size: 24px;
      font-weight: 700;
      margin: 0px !important;
    }
  }

  aopa-input-task {
    margin: 0 auto;
    padding: 0 15px;
    width: min(100%, 800px);
  }

  aopa-display-tasks {
    width: min(100%, 800px);
    padding: 0 15px;
    margin: 0 auto;
  }

  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }
  aopa-header {
    .mat-icon {
      font-size: 30px;
      cursor: pointer;
    }
    h1 {
      font-size: 24px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}
