@import "./../../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 102, 167);
  padding: 10px 10px 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: 104px;
  color: var(--text-color);

  &:hover {
    transform: scale(1.05);
  }

  .tasks,
  .end-date,
  .border {
    @include flex-center;
  }

  .main {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 8px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      word-break: break-word;
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    margin: 5px 0px;
  }

  .border {
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0px 8px;
    font-size: 14px;
    mat-icon {
      font-size: 20px;
    }
    .end-date {
      mat-icon {
        margin-top: 3px;
      }
    }
  }
}
