<div class="project-card" [style.background]="project.color">
  <div class="main">
    <div class="border">
      <mat-icon>{{ project.icon }}</mat-icon>
    </div>
    <h1>{{ project.name }}</h1>
  </div>
  <div class="line"></div>
  <div class="info">
    <div class="tasks">
      <mat-icon>task</mat-icon>
      <p>{{ project.percentage }}%</p>
    </div>
    <div class="end-date">
      <mat-icon>insert_invitation</mat-icon>
      <p>{{ project.endDate | date: "dd/MM/yy" }}</p>
    </div>
  </div>
</div>
