<form class="update-user-form">
  <input type="text" class="input-name" placeholder="Name" required />
  <span class="form-error">Minimum 3 letters and maximum 15</span>
  <input type="text" class="input-occupation" placeholder="Occupation" required />
  <span class="form-error">Minimum 3 letters and maximum 30</span>
  <input type="date" class="date" placeholder="date" required />
  <div class="radio">
    <input type="radio" id="male" name="fav_language" value="HTML" />
    <label for="male">Male</label><br />
    <input type="radio" id="female" name="fav_language" value="CSS" /><label for="female">Female</label><br />
    <input type="radio" id="other" name="fav_language" value="JavaScript" /> <label for="other">Other</label><br /><br />
  </div>
  <button disabled class="update-submit">User Update</button>
</form>
<button class="update-cancel">Cancel Update</button>
