@import ".../../../../index.scss";

aopa-loading {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  background-color: $marine-blue;
  top: 0;
  left: 0;
  animation: opacity-home 2.5s 1;
  position: fixed;
  z-index: 99999;
  &.fade-out {
    opacity: 0;
  }
  img {
    width: 250px;
    height: 250px;
    animation: rotate-loading 2s 1;
  }
  @media (max-width: 600px) {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
