@import "./../../../../../styles.scss";
:host {
  user-select: none;
  color: var(--text-color);

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--primary);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 25px;
      left: 25px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 50px;
      height: 50px;
      opacity: 0;
    }
  }

  aopa-header {
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
    mat-icon {
      font-size: 30px;
      cursor: pointer;
    }

    .profile {
      animation: fadeIn 1s ease-in-out;
      @include flex-center;
      .profile-image {
        height: 90px;
        @include flex-center;
        width: 90px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid gray;
        margin-right: 10px;
        cursor: pointer;

        &.loading {
          img,
          mat-icon {
            display: none;
          }
        }

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          transition: opacity 0.5s ease-in-out;
        }
        mat-icon {
          display: none;
          font-size: 20px;
          transition: opacity 0.5s ease-in-out;
        }
        &:hover {
          img {
            opacity: 0.4;
          }
          mat-icon {
            color: var(--black);
            margin: 5px 0px 0px 5px;
            animation: fadeIn 0.5s ease-in-out;
            display: block;
            position: absolute;
          }
        }
      }
      .profile-info {
        margin-left: 10px;
        h1 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }
  .task-mode {
    padding: 15px;
    max-width: 1500px;
    margin: 0 auto;
  }

  .projects {
    padding: 15px;
    max-width: 1500px;
    margin: 0 auto;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
  }

  .card-add-project {
    @include flex-center(column);
    background: rgba(134, 134, 134, 0.185);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 104px;

    &:hover {
      transform: scale(1.05);
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
