<aopa-header>
  <mat-icon>help</mat-icon>
  <div class="profile">
    <div
      class="profile-image"
      [class.loading]="loading"
      (click)="openUpdateImageDialog()"
    >
      <div class="lds-ripple" *ngIf="loading">
        <div></div>
        <div></div>
      </div>
      <img src="{{profileImage}}" />
      <mat-icon>edit</mat-icon>
    </div>
    <div class="profile-info">
      <h1 translate="no">{{ name }}</h1>
      <p translate="no">{{occupation}}</p>
    </div>
  </div>
  <mat-icon class="settings" [routerLink]="'/settings'">settings</mat-icon>
</aopa-header>

<div class="task-mode" translate="no">
  <h1>Task Mode</h1>
  <aopa-select-list-mode
    [icon]="'today'"
    [router]="'/todo/list/today'"
    [listMode]="'Today List'"
    [listModeStatus]="'Active'"
    [backgroundIcon]="'#ffc107'"
  ></aopa-select-list-mode>

  <aopa-select-list-mode
    [icon]="'date_range'"
    [router]="'/todo/list/week'"
    [listMode]="'Week List'"
    [listModeStatus]="'Active'"
    [backgroundIcon]="'red'"
  ></aopa-select-list-mode>
</div>

<div class="projects">
  <h1>Projects</h1>

  <div class="projects-container">
    <aopa-project-card
      *ngFor="let project of projects$ | async"
      [projectName]="project.name"
      [icon]="project.icon"
      [endDate]="project.endDate"
      [routerLink]="'/todo/project/' + project.id"
    ></aopa-project-card>

    <div class="card-add-project" (click)="openCreateProjectDialog()">
      <mat-icon>add</mat-icon>
      <p>Add Project</p>
    </div>
  </div>
</div>
