@import ".../../../../index.scss";

aopa-header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  a {
    text-decoration: none;
  }
  .settings img:hover {
    animation: rotate-settings 0.8s 1;
  }
  .help img:hover {
    animation: rotate-help 1s 1;
  }
  .sign-out img:hover {
    animation: header-menu-scale 1s 1;
  }
  .home img:hover {
    animation: header-menu-scale 1s 1;
  }
  img {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
}
