@import ".../../../../index.scss";

aopa-change-form {
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  padding: 0px 20px;
  h1 {
    font-size: 22px;
    font-weight: 700;
    color: $text-color-principal;
    margin-bottom: 15px;
    height: auto;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
    color: $text-color-principal;
  }
  .personal-information {
    @include flex-center;
    flex-direction: column;
    .date {
      flex-direction: column;
      display: flex;
      width: min(800px, 100%);
      h2 {
        border-bottom: 1px solid $border;
        width: min(800px, 100%);
        margin-bottom: 15px;
        margin-top: 4px;
        color: $text-color-principal;
        height: 19px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $text-color-secondary;
      }
    }
    button {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      width: 215px;
      height: 30px;
      padding: 0;
      font-weight: bold;
      border: 2px solid $border;
      border-radius: 6px;
      background-color: $white;
      color: $text-color-secondary;
      margin-bottom: 20px;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;
      &:hover {
        background-color: $medium-blue;
        color: $white;
      }
    }
  }
  .preferences {
    @include flex-center;
    flex-direction: column;
    img {
      width: 14px;
      height: 14px;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: min(800px, 100%);

      .checkbox {
        opacity: 0;
        position: relative;
        margin-bottom: 20px;
      }

      .label {
        position: relative;
        right: 10px;
        background-color: $primary-color;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px;
        height: 16px;
        width: 35px;
        font-size: 10px;
        transform: scale(1.5);
        .ball {
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          left: 1px;
          top: 1.4px;
          height: 14px;
          width: 14px;
          transform: translateX(0px);
          transition: transform 0.2s linear;
        }

        .moon-icon {
          fill: #ebc635;
        }

        .sun-icon {
          fill: #f1a62c;
        }
        .check-circle-icon {
          fill: rgb(71, 243, 71);
        }
        .times-circle-icon {
          fill: rgb(241, 44, 44);
        }
      }
    }

    .checkbox:checked + .label .ball {
      transform: translateX(19px);
    }
  }
}
