@import "./scss/reset";
@import "./scss/keyframes";
@import "./scss/mixins";

$black: #000;
$white: #fff;
$primary-color: #187ddb;
$text-color-principal: rgb(10, 10, 10);
$text-color-secondary: rgb(70, 70, 70);
$label: rgb(107, 107, 107);
$background: rgb(255, 255, 255);
$border: rgb(172, 172, 172);
$light-blue: #7dbdf8;
$dark-blue: rgb(23, 21, 168);
$red: rgb(201, 48, 31);
$green: rgb(10, 173, 59);
$medium-blue: #489be9;
$marine-blue: #074f80;

.dark-mode:root {
  $primary-color: #333746;
  $text-color-principal: #f0f0f0;
  $text-color-secondary: rgb(199, 199, 199);
  $background: #2e303a;
  $border: rgb(134, 133, 133);
  $medium-blue: #4b769e;
  $marine-blue: #1c4469;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: min(100%, 1400px);
}
