/* You can add global styles to this file, and also import other style files */
@import "scss/override-material";
@import "scss/reset";
@import "scss/colors";
@import "scss/mixins";
@import "scss/keyframes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  transition: background-color 0.5s, color 0.5s;
  background-color: var(--background-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

strong {
  font-weight: bold;
}

:root {
  @each $name, $color in $project-colors {
    --#{$name}: #{$color};
  }
  &.dark-mode {
    @each $name, $color in $project-colors-theme-dark {
      --#{$name}: #{$color};
    }
  }
}
