@import ".../../../../index.scss";

aopa-log-form {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  .card-log[login] {
    height: 370px;
  }
  .card-log {
    position: relative;
    display: flex;
    height: 530px;
    width: 350px;
    align-items: center;
    border-radius: 20px;
    transition: height 0.4s ease-in-out;
    .circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      transition: clip-path 0.6s, background-color 0.6s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $medium-blue;
        clip-path: circle(120px at center);
        transition: clip-path 0.6s, background-color 0.6s;
      }
    }

    &:hover .circle:before {
      clip-path: circle(440px at center);
      background: $marine-blue;
    }
    img.log {
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 300px;
      pointer-events: none;
      transition: hidden 0.6s;
      visibility: visible;
    }
    &:hover .log {
      visibility: hidden;
    }
    & section.content {
      @include flex-center;
      position: relative;
      height: 100%;
      width: 100%;
      padding: 50px 20px;
      transition: hidden 0.6s, visible 0.6s;
      visibility: hidden;
      flex-direction: column;
      & .content-log {
        @include flex-center;
        position: relative;

        flex-flow: row wrap;
        .tab-links {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 20px;
          a {
            color: $white;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 10px;
            opacity: 0.5;
            transition: opacity 0.6s;

            &[active] {
              border-bottom: $white solid 2px;
              opacity: 1;
              animation: fade-in 0.8s;
            }
          }
        }
        .tab-register {
          display: flex;
          width: 100%;
          animation: fade-in 0.8s;
        }
        .tab-login {
          display: none;
          width: 100%;
          animation: fade-in 0.8s;
        }
        .register-form {
          @include flex-center;
          flex-flow: row wrap;
          width: 100%;
        }
        .login-form {
          @include flex-center;
          width: 100%;
          flex-flow: row wrap;
        }
        form {
          span {
            font-size: 12px;
            text-align: center;
            height: 26px;
            width: 100%;
            color: $white;
          }
          input {
            width: 215px;
            height: 30px;
            border: none;
            border-radius: 6px;
            padding: 5px 10px;
            font-size: 1rem;
            font-weight: 700;
            background-color: $white;
            color: var(--black);
            transition: opacity 0.2s;
            margin-bottom: 5px;
            &.invalid {
              outline: #ff00008c solid 3px;

              & + .form-error {
                opacity: 1;
              }
            }
          }

          & .form-error {
            opacity: 0;
            transition: opacity 1s;
            color: $border;
            font-size: 12px;
            width: 100%;
            text-align: center;
            padding: 4px;
          }
          button {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            width: 215px;
            height: 30px;
            padding: 0;
            font-weight: bold;
            border-radius: 6px;
            background-color: $white;
            color: $marine-blue;
            border: none;
            margin-bottom: 10px;
            cursor: pointer;
            transition: color 0.3s, background-color 0.3s;
            &:hover {
              background-color: $medium-blue;
              color: $white;
            }
            &:disabled {
              background-color: $border;
              color: $marine-blue;
              cursor: not-allowed;
            }
          }
        }
      }
    }
    &:hover .content {
      visibility: visible;
      .log {
        visibility: visible;
      }
    }
  }

  @media (max-width: 600px) {
    border-radius: 0;
    background-color: $marine-blue;
    .card-log {
      height: 100%;
      width: 100%;
      flex-direction: column;
      transition: height 0s;
      .circle {
        @include flex-center;
      }
      .log {
        top: 55%;
      }
      .content {
        height: 100vh;
        width: 270px;
        margin: 0;
        position: relative;
        width: 100vw;
        transition: 0.5s;
        visibility: hidden;
        p {
          width: 200px;
        }

        .log {
          @include flex-center;
          & .content-log {
            @include flex-center;
            height: 100vh;
            width: 270px;
            padding: 0px;
            transition: 0.5s;
            flex-direction: column;
            .line {
              margin: 10px 0px;
              height: 3px;
              width: 270px;
            }
            .register-form {
              justify-content: end;
            }
            .login-form {
              justify-content: initial;
            }
          }
        }
      }

      &:hover .log {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
